/* ------reset------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------- import -------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html{
    height: 100%;
    width: 100%;
    
}

.buscador{
    display: flex;
    flex-direction: column;
}

/* -----------------barra navegação ----------- */
nav img{
    width: 110px;
    height: 25px;
    margin-left: 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}


/* ------------ CENTRO ------------- */
.fundo-rosa{
    display: flex;
    flex-direction: column;
    background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
    background-repeat: no-repeat;
    height: 77vh;
    background-size: 25em 41em;
    color: #fff;
}

.fundo-branco{
    align-self: center;
    width: 70%;
    height: 60%;
    background-color: #fff;
    border-radius: 5%;
    margin-top: 15%;
}


/* ---------- footer ------- */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    
}

.icones{
    width: 16px;
    height: 16px;
    color: black;
    
}

.teste{
        width: 45px;
        text-align: center;
        font-size: 12px;
        
}